
div.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 12;
  cursor: pointer;
}

div.overlay div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 42vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.overlay p {
  color: #101027;
  font-size: 150px;
  white-space: nowrap;
}

div.overlay img {
  width: 60px;
}

.digging {
  width: 100%;
  height: 100%;
  display: none;
  top: 0px;
}

.figure {
  position: absolute;
  z-index: 2;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0px;
}

.figure#a {
  left: -5vw;
  bottom: 28vw;
}
.figure#b {
  left: 18vw;
  top: 0vw;
}
.figure#c {
  left: 0vw;
  bottom: 0vw;
}
.figure#d {
  left: 45vw;
  bottom: 424px;
}
.figure#e {
  left: 40vw;
  bottom: 0vw;
}
.figure#f {
  left: 18vw;
  bottom: 85px;
}
.figure#g {
  right: 0vw;
  bottom: 360px;
}
.figure#h {
  left: 60vw;
  bottom: 0;
}
.figure#i {
  right: 0vw;
  bottom: 0vw;
}

div.blocks {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  margin-left: -50px;
  top: 0px;
  flex-direction: column;
  gap: 0;
  z-index: 10;
}

div.row {
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

div.block {
  width: 100%;
  height: 100%;
  background-color: #AED9F4;
}

div.text-block {
  height: 100%;
  background-color: #101027;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 38px;
  padding-right: 38px;
}

div.row .text-block p {
  color: #fff;
}

div.text-block p {
  white-space: nowrap;
  color: black;
  font-size: 66px;
}

.start {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 50px;
  left: 0px;
}

.start div {
  position: relative;
}

.start > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.start .u {
  background-color: #101027;
  height: 100%;
  width: 100%;
}

.start .d {
  background-color: #FFFFFF;
  width: 100%;
}

.start .l .d {
  height: 80vh;
}

.start .r .d {
  height: 160vh;
}

.start .u p {
  position: absolute;
  font-size: 100px;
  color: #E6E6E6;
  left: 0;
  right: 0;
  bottom: 14px;
  text-align: center;
  z-index: 3;
}

.start img {
  display: none;
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.start > div:hover .d {
  background-color: #AED9F4;
}

.start > div:hover p {
  color: #AED9F4;
}

.start > div:hover img {
  display: initial;
}

.building {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

.building > h1 {
  position: absolute;
  bottom: 200px;
  color: #fff;
  font-size: 100px;
  writing-mode: vertical-lr;
  white-space: nowrap;
}

.figures {
  width: 100vw;
  height: 100vw;
}

.gameover {
  position: absolute;
  background-color: #101027;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.gameover .text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 460px;
  height: 300px;
  display: flex;
  gap: 28px;
  align-items: center;
  flex-direction: column;
  z-index: 11;
}

.gameover h1, .gameover p {
  position: relative;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
}

.gameover h1 {
  font-size: 120px;
  line-height: 0.75;
}

.gameover p {
  font-size: 22px;
}

.home {
  z-index: 9;
  position: absolute;
  bottom: 50px;
  right: 50px;
  height: 120px;
  display: none;
  cursor: pointer;
}
