.caption p {
  color: white;
  font-family: "ApercuPro-Regular";
  font-weight: 450;
  font-style: normal;
  font-size: 4rem;
  letter-spacing: -0.085em;
  width: 60vw;
  margin-top: 4vh;
}
.carousel {
  position: relative;
  width: 92.857vw;
  height: 41.667vw;
  margin: 0;
  margin-top: 3vw;
  cursor: url("../cursor2.png") 32 32, auto;
}
.carousel img {
  position: absolute;
  width: 29.762vw;
  height: 41.667vw;
}
.carousel img {
  transition: filter 1s;
}
.carousel img {
  filter: blur(20px);
}

@media (max-width: 578px) {
  .carousel {
    height: 130vw;
    margin-top: 13vw;
  }
  .carousel img {
    width: 100%;
    height: 130vw;
  }

  .caption p {
    font-size: 4rem;
    width: 100%;
  }
  .bottom_line {
    margin-top: 3vw;
  }
}
